* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(236 241 247);
    color: white;
    font-family: "Poppins", sans-serif;

  }
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 70px;
    background-color: rgba(18, 18, 62);
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 25px;
  }
  nav ul a{
    text-decoration: none;
    color: white;

  
  }
  nav ul a  :hover{
    color: rgb(129, 129, 214);
    font-size: 1.4 rem;
  }
  .left {
    font-size: 1.5 rem;
    margin: 15px 0;
  }
  .right{
    margin: 15px 0;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
    margin: 100px 0;
  }
  .leftSection {
   font-size: 3rem;
    width: 30%;
  }
  .leftSection .button{
    padding: 30px 0;
  }
  .leftSection .btn{
    background-color: #0f186d;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
  }
  .rightSection {
   
    width: 30%;
  }
  .rightSection img{
    width: 80%;
    margin: 23px 0;
  }
  .purple{
    color: purple;
  }
  .firstSection > div{
    width: 30%;
  }
  #element{
    color: rgb(46, 46, 198);
  }
  /* Second section css */
  .secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    
  }
  .secondSection h1{
    font-size: 1.3rem;
  }
  .text-gray{
    color: gray;
  }
 
  .secondSection .box{
    background-color: white;
    height: 2px;
    margin: 56px 0;
    width: 80vw;
    display: flex;
  }
  .secondSection .vertical{
    height: 93px ;
    width:1px;
    background-color: white;
    margin: 0 100px;
  }
  .vertical-title{
position: relative;
width: 150px;
top: 90px;
right: 90px;
  }
  .vertical-desc{
position: relative;
top: 170px;
right: 192px;
color: gray;
width: 150px;
font-size: 9px;
  }
  .vertical .image-top{
    width: 23px;
    position: relative;
    top: -35px;
    left: -10px;
  }
/*------------------------Skills start---------------*/
.skills{
  background-color: #ecf1f7
}
/*------------------------Skills end---------------*/
/*-----------------------Footer-----------------*/
footer{  
    background-color: rgb(19, 36, 61);
    height: 223px;
    
}
.footer{
  padding:23px 122px ;
    display: flex;
    justify-content: space-evenly;
}
.footer > div{
    width:130px
}
.footer ul{
    list-style: none;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 12px 0;
}
/*About section*/
.about{
  position: relative;
}
.about h1{
  position: absolute;
  font-size: 2rem;
  margin: 20px 195px;
}
.about-img{
  overflow: hidden;
  height: fit-content;
  
}

.about .description{
  position: absolute;
  top: 100px;
  width: 40%;
  height:50%;
  margin: 70px 0; 
  font-size: 3rem;
  text-align: justify ;

  background-color: #f1e7e7;
  color: #000;
}

.about img{
  
  width: 100%;
  height: 50rem;
  display: block;
}
/* Social media and blogs */
.backcol{
  background-color: rgb(236 241 247);
}
.social-media button{
  list-style: none;
  text-decoration: none;
}
/* Project  */


.project-1 img{
width: 100%;
height: 100%;
margin-top: 0;
object-fit: cover;

}

.project-2 img{
width: 100%;
height: 100%;
margin-top: 0;
object-fit: cover;

}